.row5 .r1{
    display: flex;
  
    flex-direction: row;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-content: space-between;
   margin-top: 50px;
}
.row5 .r1 .col .trus1{
    width: 170px;
}
.row5 h1 {
    box-sizing: border-box;
    display: block;
    margin-bottom: 28px;
    margin-top: 60px;
   
    font-family: "Ubuntu",sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: rgb(0, 0, 0);

}